@model LKaifer_BugTracker.Models.Ticket

@{
    ViewBag.Title = "Assign Ticket";
}

<h2>AssignTicket</h2>


<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Ticket Name
        </th>
        <th>
            Developer Assignment
        </th>
        @*<th>
    </tr>*@

    <tr>
        <td>
            @Model.Project.Name
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        @*<td>
            @Html.DisplayFor(model => model.AssignedToUser.FullName)
        </td>*@
        <td>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.AssignedToUserId, " Developer", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Assign" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            }

        </td>
    </tr>
</table>
<br>


<div>
    @Html.ActionLink("Back to List", "MyIndex")
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
