@using Microsoft.AspNet.Identity
@model LKaifer_BugTracker.Models.Ticket
@using LKaifer_BugTracker.Helpers
@using LKaifer_BugTracker.ViewModels
@using LKaifer_BugTracker.Models
<head>
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@

    <style>
        .avatar {
            max-height: 30px;
            max-width: 30px;
        }

        .socail_grid_agile.facebook {
            background: #3d5da2;
            height: 200px !important;
        }

        .socail_grid_agile.twitter {
            background: #1da1f2;
            height: 200px !important;
        }

        .socail_grid_agile.gmail {
            background: #ea4335;
            height: 200px !important;
        }

        .socail_grid_agile.dribble {
            background: #ea4c89;
            height: 200px !important
        }

        .img-responsive teamAvatar, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            width: 90px;
            height: 90px;
        }

        a.collapsed > i.fa-chevron-up {
            transform: rotate(180deg);
        }

        div.panel-heading {
            cursor: move;
        }

        a.badge:hover {
            background-color: lightgray;
            color: black;
        }

        a#addAttachBtn:hover {
            background-color: #cae3f7 !important;
            color: #007ee5;
        }
    </style>
    <link href="~/Content/Timeline.css" rel="stylesheet" />
</head>
@{
    var roleHelper = new UserRolesHelper();
    var projectsHelper = new ProjectsHelper();
    var ticketsdecisionHelper = new TicketDecisionHelper();
    List<ApplicationUser> ticketProjectTeam = new List<ApplicationUser>();
    foreach (ApplicationUser cUser in Model.Project.Users)
    {
        if (roleHelper.IsUserInRole(cUser.Id, "Manager"))
        {
            ticketProjectTeam.Add(cUser);
        }
        if (roleHelper.IsUserInRole(cUser.Id, "Admin"))
        {
            ticketProjectTeam.Add(cUser);
        }

    }
    ticketProjectTeam.Add(Model.AssignedToUser);
    ticketProjectTeam.Add(Model.OwnerUser);
}




<div class="row">
        <h2>Ticket Dashboard</h2>
    </div>
  

    <hr />
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Project Name
            </th>
            <th>
                Priority
            </th>

            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                Assigned Developer
            </th>
            <th>
                Created by
            </th>
            <th>
                Created Date
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.AssignedToUser.FullName)
                @if (User.IsInRole("Manager") || User.IsInRole("Admin") && Model.AssignedToUser == null)
                {
                    @Html.ActionLink("Assign", "AssignTicket", new { id = Model.Id })
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Admin") && Model.AssignedToUser != null)
                {
                    @Html.ActionLink("Reassign", "AssignTicket", new { id = Model.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.OwnerUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Created)
            </td>
        </tr>
    </table>
    <br>

    <h3>Ticket Team</h3>
    <hr />
    <div class="social_media_w3ls">


        @foreach (var user in ticketProjectTeam)
        {
            if (user == null)
            {

            }
            else if (roleHelper.IsUserInRole(user.Id, "Admin"))
            {
                <div class="col-md-3 socail_grid_agile facebook">
                    <ul class="icon_w3_info">
                        <li><a href="#" class="wthree_facebook"> @*<i class="fa fa-facebook" aria-hidden="true"></i>*@</a></li>
                        <li>Ticket Administrator</li>
                    </ul>
                    <ul class="icon_w3_social">
                        @*<li><i class="fa fa-comment-o" aria-hidden="true"></i></li>*@
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        @*<li><i class="fa fa-user" aria-hidden="true"></i></li>*@
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="@Url.Content(user.AvatarUrl)" class="img-responsive teamAvatar" />
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>
                                @user.FullName
                            </h4>
                            <p></p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            }
            if (user == null)
            {

            }

            else if (roleHelper.IsUserInRole(user.Id, "Manager"))
            {

                <div class="col-md-3 socail_grid_agile twitter">
                    <ul class="icon_w3_info">
                        @*<li><a href="#" class="wthree_facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>*@
                        <li>Ticket Manager</li>
                    </ul>
                    <ul class="icon_w3_social">
                        @*<li><i class="fa fa-comment-o" aria-hidden="true"></i></li>*@
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        @*<li><i class="fa fa-user" aria-hidden="true"></i></li>*@
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="@Url.Content(user.AvatarUrl)" class="img-responsive teamAvatar" />
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>@user.FullName</h4>
                            <p></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            }
            if (user == null)
            {

            }
            else if (roleHelper.IsUserInRole(user.Id, "Developer") && user.Roles != null)
            {
                <div class="col-md-3 socail_grid_agile gmail">
                    <ul class="icon_w3_info">
                        @*<li><a href="#" class="wthree_facebook"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>*@
                        <li>Ticket Developer</li>
                    </ul>
                    <ul class="icon_w3_social">
                        @*<li><i class="fa fa-comment-o" aria-hidden="true"></i></li>*@
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        @*<li><i class="fa fa-user" aria-hidden="true"></i></li>*@
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="@Url.Content(user.AvatarUrl)" class="img-responsive teamAvatar" />
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>

                                @Html.DisplayFor(modelItem => Model.AssignedToUser.FullName)

                            </h4>
                            <p></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>}
            if (user == null)
            {

            }
            else if (roleHelper.IsUserInRole(user.Id, "Submitter"))
            {

                <div class="col-md-3 socail_grid_agile dribble padding-bottom">

                    <ul class="icon_w3_info">
                        @*<li><a href="#" class="wthree_facebook"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>*@
                        <li>Ticket Submitter</li>
                    </ul>
                    <ul class="icon_w3_social">
                        @*<li><i class="fa fa-comment-o" aria-hidden="true"></i></li>*@
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        @*<li><i class="fa fa-user" aria-hidden="true"></i></li>*@
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="@Url.Content(user.AvatarUrl)" class="img-responsive teamAvatar" />
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>@Html.DisplayFor(modelItem => Model.OwnerUser.FullName)</h4>
                            <p></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>}
        }
        </div>
        <br />
        <br />
        <hr />
<div class="row">
    <div class="col-md-4">
        <h3>Ticket Information & Actions</h3>
    <div class="col-md-4">
        @Html.ActionLink("Edit Ticket", "Edit", "Tickets", new { id = Model.Id }, new { @class = "label label-danger" })
    </div>
    <div class="col-md-4">

    @if (User.IsInRole("Developer"))
    {
        <button class="label label-danger">Mark as In Progress</button>

        <br />
    }
    @if (User.IsInRole("Manager"))
    {
        <button class="label label-success">Mark as Completed</button>

    }
    </div>

    </div>
</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Ticket History
                        <a href="#ticket-history-panel" data-toggle="collapse" aria-expanded="true" id="ticket-history-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-history-panel">
                        @foreach (var history in Model.TicketHistories)
                        {
                        <p>@history.PropertyName has changed from @history.OldValue to @history.NewValue on @history.Updated.ToString("g")</p>
                            <hr>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Ticket Description
                        <a href="#ticket-description-panel" data-toggle="collapse" aria-expanded="true" id="ticket-description-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-description-panel">
                        @Model.Description
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Ticket Attachments
                        <a href="#ticket-attachments-panel" data-toggle="collapse" aria-expanded="true" id="ticket-attachment-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-attachment-panel">
                        @if (Model.TicketAttachments != null)
                        {
                            if (Model.TicketAttachments.Count > 0)
                            {
                                foreach (var attachment in Model.TicketAttachments)
                                {
                                    <a href="@Url.Content(attachment.AttachmentUrl)" download style="margin-right:10px;"><i class="fa @attachment.Description"></i> @attachment.Title</a>@Html.ActionLink("Remove", "Delete", "TicketAttachments", new { id = attachment.Id, originAction = "Details" }, new { @class = "badge" })<br />
                                }
                            }
                            else
                            {
                                <p>No attachment </p><br />
                            }
                        }

                        <div class="panel-footer">
                            <a href="" id="addAttachBtn" class="badge" style="background-color:#007ee5;padding:1.5%;width:150px;" onclick="toggleAddAttachmentForm()">Add attachments</a>
                            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { @id = "attachmentAddForm", hidden = "hidden", enctype = "Multipart/form-data" }))
                            {
                                <a href="" id="cancelAttachBtn" class="badge" style="background-color:#007ee5;padding:1.5%;width:150px;" onclick="toggleAddAttachmentForm()">Cancel</a><br /><br />
                                @Html.AntiForgeryToken()
                                <input name="ticketId" type="hidden" value="@Model.Id" />
                                <div class="col-md-8">
                                    <input name="files" type="file" class="form-control" id="fileUpload" multiple />
                                </div>

                                <div class="col-md-4">
                                    <input type="submit" value="Add" class="btn btn-default" style="height:5vh;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Ticket Comments
                        <a href="#ticket-comments-panel" data-toggle="collapse" aria-expanded="true" id="ticket-comment-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="comment-panel">
                        @if (Request.IsAuthenticated)
                        {
                            foreach (var comment in Model.TicketComments)
                            {

                                @Html.DisplayFor(c => comment.CommentBody)
                                <p style="font-size:smaller">Submitted by @Html.DisplayFor(c => comment.Author.FullName), @Html.DisplayFor(c => comment.Created)</p>

                                <br />

                            }
                        }

                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)

                            <div style="margin-left:30px">
                                <textarea type="text" id="TicketCommentBody" name="CommentBody" rows="5" cols="70"></textarea>
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
            @*</div>*@

            <!-- /social_media-->
            <div class="clearfix"></div>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Ticket History Timeline</h1>
                    </div>
                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal">
                            @foreach (var history in Model.TicketHistories)

                            {

                                <li class="timeline-item">
                                    <div class="timeline-badge primary"><i class="fa fa-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">@history.PropertyName</h4>
                                            <p><small class="text-muted"><i class="fa fa-times"></i> @history.Updated.ToString("g")</small></p>
                                        </div>
                                        <div class="timeline-body">
                                                <p>@history.PropertyName has changed from @history.OldValue to @history.NewValue</p>

                                        </div>
                                    </div>
                                </li>
                            }

                            @*<li class="timeline-item">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 2</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis faiz elementum girarzis, nisi eros gostis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 3</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipisci. Mé faiz elementum girarzis, nisi eros gostis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 4</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 5</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 6</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@



        @*@using (Html.BeginForm())
        {@Html.AntiForgeryToken()
        @Html.Hidden("ticketid", Model.Id)

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>}*@
        @section scripts{
            <script>
                function toggleAddAttachmentForm() {
                    event.preventDefault();
                    $('#attachmentAddForm').toggle();
                    $('#addAttachBtn').toggle();
                }

                //ticket history collapse button title
                $('a[data-toggle="collapse"]').click(function () {
                    if ($(this).hasClass('collapsed')) {
                        $(this).attr('title', 'collapse');
                    }
                    else {
                        $(this).attr('title', 'expand');
                    }
                });



                //sortable rows
                $('div.row').sortable();

                                                                                                    //timeline

            </script>
        }
