@using Microsoft.AspNet.Identity
@using LKaifer_BugTracker.Models
@using LKaifer_BugTracker.Helpers

@if (Request.IsAuthenticated)
{
    ApplicationDbContext db = new ApplicationDbContext();
    UserRolesHelper helper = new UserRolesHelper();
    ApplicationUser currentUser = db.Users.Find(User.Identity.GetUserId());
    var currentRole = helper.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="top_dp_agile">
            <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="@currentUser.FirstName's profile">
                    <div class="profile_img">
                        <span class="prfil-img" style="padding-right:10px;font-weight:bold;color:beige;"><img src="@Url.Content(currentUser.AvatarUrl)" class="img-responsive" style="height: 45px;width: 45px;margin:auto;margin-top:5px;display:inline-block;margin-right:10px;" alt=""> @currentUser.FullName <i class="fa fa-chevron-down" style="margin-left:10px;font-size:smaller;color:ghostwhite;"></i></span><span style="position:absolute;top:35px;left:65px;color:ghostwhite;font-size:smaller;font-style:italic;">@currentRole</span>
                    </div>
                </a>
                <ul class="dropdown-menu drp-mnu">
                    <li>
                        <a href="@Url.Action("Index","Manage")" title="Profile"><i class="fa fa-user" style="margin-right:10px;"></i>Manage Profile</a>
                    </li>
                    @*<li>
                            <p>@currentUser.FullName</p>
                        </li>*@
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" title="Log off"><i class="fa fa-sign-out" style="margin-right:10px;"></i>Log off</a></li>

                    @*<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>*@
                    @*<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                        <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>*@
                </ul>
            </li>

        </ul>
        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@
    }
}
else
{
    <ul class="top_dp_agile">
        <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                    <span class="prfil-img"><img src="~/Uploads/avatar-1577909_1280.png" alt=""> </span>
                </div>
            </a>
            <ul class="dropdown-menu drp-mnu" style="max-width: 280px!important; width:280px">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

            </ul>
        </li>

    </ul>

}
