@using Microsoft.AspNet.Identity
@using LKaifer_BugTracker.Models
@using LKaifer_BugTracker.Helpers
@using LKaifer_BugTracker.ViewModels
@{
    ViewBag.Title = "Dashboard";
    ApplicationDbContext db = new ApplicationDbContext();
    UserRolesHelper helper = new UserRolesHelper();
    ProjectsHelper projectshelper = new ProjectsHelper();
    NotificationHelper notificationHelper = new NotificationHelper();
    ApplicationUser currentUser = db.Users.Find(User.Identity.GetUserId());
    var currentRole = helper.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    var assignedDevTickets = db.Tickets.Where(t => t.AssignedToUserId.Equals(currentUser.Id)).ToList();
    var assignedSubTickets = db.Tickets.Where(t => t.OwnerUserId.Equals(currentUser.Id)).ToList();
    var ownedTickets = db.Tickets.Where(t => t.OwnerUserId.Equals(currentUser.Id)).ToList();
    var allTickets = db.Tickets.ToList();
    var unassignedTickets = db.Tickets.Where(t => t.AssignedToUser.Equals(null)).ToList();
    var allUsers = db.Users.ToList();
    var allProjects = db.Projects.ToList();
    var totaladmincount = helper.UsersInRole("Admin")?.Count() ?? 0;
    var totalmangrcount = helper.UsersInRole("Manager")?.Count() ?? 0;
    var alldevlist = helper.UsersInRole("Developer").ToList();
    var totaldevcount = alldevlist?.Count() ?? 0;
    var totalsubcount = helper.UsersInRole("Submitter")?.Count() ?? 0;
    string opendevticketsarr = "";
    int indexCounter = 0;
    foreach (var dev in alldevlist)
    {
        opendevticketsarr += dev.FirstName + " " + dev.Projects.Sum(t => t.Tickets.Where(a => a.AssignedToUserId == dev.Id).ToList().Count) + ",";
        indexCounter++;
    }


}


<style>
    a.collapsed > i.fa-chevron-up {
        transform: rotate(180deg);
    }

    div.panel-heading {
        cursor: move;
    }

    .panel-statistics {
        background-color: #fd9426;
        color: white
    }

    .panel-projects {
        background-color: #147efb;
        color: white;
    }

    .panel-red {
        background-color: #e53238;
        color: white;
    }

    .bars_agileits.agile_info_shadow {
        width: 100%;
    }

    text.highcharts-credits {
        display: none;
    }

    div.panel-red {
        -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    }
</style>

<!-- //w3_agileits_top_nav-->
<!-- /inner_content-->
@*<div class="inner_content">*@
<!-- /inner_content_w3_agile_info-->
@*<div class="inner_content_w3_agile_info">*@
<!-- /agile_top_w3_grids-->
@*<div class="agile_top_w3_grids">*@

<!--Start of Clickable Badges-->
<div class="row" style="margin-left:100px !important">
    <ul class="ca-menu">
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a href="@Url.Action("MyIndex", "Projects", new { badProj = "True" })">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@projectshelper.ProjectsMissingRoles().Count</h4>
                        <h3 class="ca-sub one">Unassigned Projects</h3>
                    </div>
                </a>
            </li>

        }
        @if (User.IsInRole("Manager") | User.IsInRole("Admin"))
        {

            <li>
                <a href="@Url.Action("Index", "Projects")">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main four">@allProjects.Count</h4>
                        <h3 class="ca-sub four">All Projects Index</h3>
                    </div>
                </a>
            </li>
        }
        @if (User.IsInRole("Manager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
        {

            <li>
                <a href="@Url.Action("MyIndex", "Projects")">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@currentUser.Projects.Count</h4>
                        <h3 class="ca-sub one">My Projects</h3>
                    </div>
                </a>
            </li>

        }

        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li>
                <a href="@Url.Action("MyIndex", "Tickets", new { unassignedTicketsOnly = "True" })">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@unassignedTickets.Count</h4>
                        <h3 class="ca-sub">Unassigned Tickets</h3>
                    </div>
                </a>

            </li>
        }

        @if (User.IsInRole("Developer"))
        {
            <li>
                <a href="@Url.Action("MyIndex", "Tickets")">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@assignedDevTickets.Count</h4>
                        <h3 class="ca-sub">My Tickets</h3>
                    </div>
                </a>

            </li>
        }

        @if (User.IsInRole("Submitter"))
        {
            <li>
                <a href="@Url.Action("MyIndex", "Tickets")">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@assignedSubTickets.Count</h4>
                        <h3 class="ca-sub">My Tickets</h3>
                    </div>
                </a>

            </li>
        }





        <li>
            <a href="@Url.Action("UserIndex", "Admin")">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">
                        @allUsers.Count
                    </h4>
                    <h3 class="ca-sub two">Team Members Index</h3>
                </div>
            </a>
        </li>
        @*<li>
            <a href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">49,436</h4>
                    <h3 class="ca-sub three">Old Projects</h3>
                </div>
            </a>
        </li>*@
        @if (User.IsInRole("Submitter"))
        {

            <li>
                <a href="@Url.Action("Create", "Tickets")">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main four"></h4>
                        <h3 class="ca-sub four">Create A Ticket</h3>
                    </div>
                </a>
            </li>
        }


        @if (User.IsInRole("Developer"))
        {

            <li>
                <a href="#" data-target="#dev-worknote-modal" data-toggle="modal">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main four"></h4>
                        <h3 class="ca-sub four">My Work Notes</h3>
                    </div>
                </a>
            <div id="dev-worknote-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Work Note Form -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">My Work Notes</h4>
                        </div>
                        <div class="modal-body">

                                    <dl>
                                        @foreach (var workNote in currentUser.WorkNotes)
                                        {
                                            <dt>
                                                @workNote.Title :
                                            </dt>
                                            <dd>
                                                @workNote.Body <span style="font-style:italic;color:lightgray;font-size:smaller;">added on @workNote.Created.ToString("g")</span>
                                            </dd>
                                        }
                                    </dl>
                            
                            @using (Html.BeginForm("Create", "WorkNotes",FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <input type="hidden" name="ToUserId" value="@currentUser.Id" />

                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Title -->
                                        <div class="form-group">
                                            <input id="worknote-title" type="text" class="form-control" name="Title" placeholder="Title" maxlength="300">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- Body Area -->
                                        <div class="form-group">
                                            <textarea id="worknote-body" class="form-control" name="Body" placeholder="Write your work note here..." style="height:232px;" maxlength="1000" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Subtmit Button -->
                                <button type="submit" class="btn btn-send">
                                    Save
                                </button>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            </li>
        }
    </ul>
</div>

<!--End of Clickable Badges-->
<br\>
    <!--High Charts Begin-->
    <div class="row" style="margin-top:50px">
        <div class="col-md-6">
            <div class="panel-red">
                <div class="panel-heading">
                    Ticket Status
                    <a href="#ticket-status-panel" data-toggle="collapse" aria-expanded="true" id="ticket-status-collapse-button" title="collapse">
                        <i class="fa fa-chevron-up pull-right"></i>
                    </a>
                </div>
                <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-status-panel">
                    <div id="tickets-status-high-chart" style="height: 460px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-red">
                <div class="panel-heading">
                    Ticket Priority
                    <a href="#ticket-priority-panel" data-toggle="collapse" aria-expanded="true" id="ticket-priority-collapse-button" title="collapse">
                        <i class="fa fa-chevron-up pull-right"></i>
                    </a>
                </div>
                <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-priority-panel">
                    <div id="tickets-priority-high-chart" style="height: 460px"></div>
                </div>
            </div>
        </div>
        <!--High Charts End-->
        <!--3d bar chart ends-->
        <!--3d bar chart begins-->
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-statistics">
                    <div class="panel-heading">
                        Task Loads Per Developer
                        <a href="#project-with-ticket-open-panel" data-toggle="collapse" aria-expanded="true" id="project-with-ticket-open-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="project-with-ticket-open-panel">
                        <div class="prograc-blocks_agileits">
                            <div class="bars_agileits agile_info_shadow">
                                <h3 class="w3_inner_tittle two">Projects with Open Tickets</h3>
                                <div class='bar_group'>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        foreach (var project in allProjects)
                                        {
                                            var openTicketCount = project.Tickets.Where(t => !t.TicketStatus.Name.Equals("Completed") && !t.TicketStatus.Name.Equals("Archived")).Count();
                                            if (openTicketCount != 0)
                                            {
                                                <div class='bar_group__bar thin' label='@project.Name' show_values='true' tooltip='true' value='@openTicketCount'></div>
                                            }
                                        }
                                    }
                                    else if (User.IsInRole("Manager"))
                                    {
                                        foreach (var project in currentUser.Projects.ToList())
                                        {
                                            var openTicketCount = project.Tickets.Where(t => !t.TicketStatus.Name.Equals("Completed") && !t.TicketStatus.Name.Equals("Archived")).Count();
                                            if (openTicketCount != 0)
                                            {
                                                <div class='bar_group__bar thin' label='@project.Name' show_values='true' tooltip='true' value='@openTicketCount'></div>
                                            }
                                        }
                                    }
                                    else if (User.IsInRole("Developer"))
                                    {
                                        foreach (var project in currentUser.Projects.ToList())
                                        {
                                            var openTicketCount = project.Tickets.Where(t => !t.TicketStatus.Name.Equals("Completed") && !t.TicketStatus.Name.Equals("Archived") && t.AssignedToUserId == currentUser.Id).Count();
                                            if (openTicketCount != 0)
                                            {
                                                <div class='bar_group__bar thin' label='@project.Name' show_values='true' tooltip='true' value='@openTicketCount'></div>
                                            }
                                        }
                                    }
                                    else if (User.IsInRole("Submitter"))
                                    {
                                        foreach (var project in currentUser.Projects.ToList())
                                        {
                                            var openTicketCount = project.Tickets.Where(t => !t.TicketStatus.Name.Equals("Completed") && !t.TicketStatus.Name.Equals("Archived") && t.OwnerUserId == currentUser.Id).Count();
                                            if (openTicketCount != 0)
                                            {
                                                <div class='bar_group__bar thin' label='@project.Name' show_values='true' tooltip='true' value='@openTicketCount'></div>
                                            }
                                        }
                                    }
                                    @*<div class='bar_group__bar thin' label='Cloud Solution' show_values='true' tooltip='true' value='5'></div>
        <div class='bar_group__bar thin' label='Financial Portal' show_values='true' tooltip='true' value='550'></div>
        <div class='bar_group__bar thin' label='Financial Portal Mobile App' show_values='true' tooltip='true' value='456'></div>
        <div class='bar_group__bar thin' label='School Dashboard' show_values='true' tooltip='true' value='343'></div>
        <div class='bar_group__bar thin' label='Leadership Dashboard' show_values='true' tooltip='true' value='235'></div>
        <div class='bar_group__bar thin' label='LKaifer Blog' show_values='true' tooltip='true' value='550'></div>
        <div class='bar_group__bar thin' label='LKaifer Portfolio' show_values='true' tooltip='true' value='456'></div>
        <div class='bar_group__bar thin' label='Visitor Check In App' show_values='true' tooltip='true' value='550'></div>
        <div class='bar_group__bar thin' label='Taekwondo Mobile App' show_values='true' tooltip='true' value='456'></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Company Overview begins-->
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-projects">
                    <div class="panel-heading">
                        Company Overview
                        <a href="#ticket-overview-panel" data-toggle="collapse" aria-expanded="true" id="ticket-overview-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-overview-panel">
                        <div class="agile_top_w3_post_sections">
                            <div class="agile_top_w3_post agile_info_shadow">
                                <div class="img_wthee_post">
                                    <h3 class="w3_inner_tittle">Company Overview</h3>
                                    <div class="stats-wrap">
                                        <div class="count_info"><h4 class="count">@totaladmincount</h4><span class="year">Total Administrators</span></div>
                                        <div class="year-info"><p class="text-no">5 </p><span class="year">Tickets Today:</span></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="stats-wrap">
                                        <div class="count_info"><h4 class="count">@totalmangrcount </h4><span class="year">Total Managers</span></div>
                                        <div class="year-info"><p class="text-no">25 </p><span class="year">Tickets This Month</span></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="stats-wrap">
                                        <div class="count_info"><h4 class="count">@totaldevcount</h4><span class="year">Total Developers</span></div>
                                        <div class="year-info"><p class="text-no">7 </p><span class="year">Tickets This Week</span></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="stats-wrap">
                                        <div class="count_info"><h4 class="count">@totalsubcount</h4><span class="year">Total Submitters</span></div>
                                        <div class="year-info"><p class="text-no">@currentUser.Projects.Sum(t => t.Tickets.Count) </p><span class="year">Your total tickets</span></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Ticket Type Liquid Charts-->
        <div class="col-md-12">
            <div class="panel-red">
                <div class="panel-heading">
                    Ticket Type
                    <a href="#ticket-type-panel" data-toggle="collapse" aria-expanded="true" id="ticket-type-collapse-button" title="collapse">
                        <i class="fa fa-chevron-up pull-right"></i>
                    </a>
                </div>
                <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-type-panel">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="tickets-type-liquid-chart" style="height: 460px"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="tickets-type-liquid-chart" style="height: 460px"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="tickets-type-liquid-chart" style="height: 460px"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="tickets-type-liquid-chart" style="height: 460px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Company Overview Ends-->
        <!--Projects with Open Tickets Begin-->
        <!--3d bar chart begins-->
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-statistics">
                    <div class="panel-heading">
                        Task Loads Per Developer
                        <a href="#ticket-open-panel" data-toggle="collapse" aria-expanded="true" id="ticket-open-collapse-button" title="collapse">
                            <i class="fa fa-chevron-up pull-right"></i>
                        </a>
                    </div>
                    <div class="panel body panel-collapse in" aria-expanded="true" id="ticket-open-panel">

                        <div class="w3ls_agile_cylinder chart agile_info_shadow">
                            <h3 class="w3_inner_tittle two"> Number of Tickets Per Developer</h3>
                            <div id="chartdiv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="clearfix"></div>
        </ul>
            </div>*@
    <!-- //agile_top_w3_grids-->
    <!-- /w3ls_agile_circle_progress-->
    <!-- Tickets Priorities Charts Begin -->
    @*<div class="fallowers_agile agile_info_shadow">*@
    @*<h3 class="w3_inner_tittle two">Urgent Ticket Progress</h3>
            <div class="work-progres">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ticket</th>
                                <th>Developer</th>

                                <th>Status</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Face book</td>
                                <td>Malorum</td>
                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-success">90%</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Twitter</td>
                                <td>Evan</td>

                                <td><span class="label label-success">completed</span></td>
                                <td><span class="badge badge-success">100%</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Google</td>
                                <td>John</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-warning">75%</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>LinkedIn</td>
                                <td>Danial</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-info">65%</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tumblr</td>
                                <td>David</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-danger">95%</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tesla</td>
                                <td>Mickey</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-success">95%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@

    <!--Tickets Priorities End-->
    @*<div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
            <div class="img_wthee_post1">
                <h3 class="w3_inner_tittle"> Flip Clock</h3>
                <div class="main-example">
                    <div class="clock"></div>
                    <div class="message"></div>

                </div>
            </div>
        </div>*@
    @*</div>*@
    @section scripts{
        <script src="~/Scripts/js/echarts.js"></script>
        <script src="~/Scripts/js/echarts-liquidfill.min.js"></script>
        <script src="~/Scripts/BugsBeGoneCharts.js"></script>
        <script>
        buildTicketStatusChart();
        buildTicketPriorityChart();
        buildTicketTypeChart();

        //Build TicketStaus Chart
        function buildTicketStatusChart() {
        AjaxForTicketStatusChart('@Url.Action("TicketStatusData", "Home")');
        }

        //Build TicketPriority Chart
        function buildTicketPriorityChart() {
        AjaxForTicketPriorityChart('@Url.Action("TicketPriorityData", "Home")');
        }
        //Ajax for Ticket Status Charts
        function AjaxForTicketStatusChart(dataUrl) {
        $.ajax({
        url: dataUrl,
        success: function (response) {
        Highchartinitforticketstatuses(response);
            }
        });
        }
        //Ajax for Ticket Priority Charts
        function AjaxForTicketPriorityChart(dataUrl) {
        $.ajax({
        url: dataUrl,
        success: function (response) {
        Highchartinitforticketpriorities(response);
        }
        });
        }
        //Data transforming into right format
        function TransformDataForTicketStatus(data) {
        var result = [];
        $.each(data, function (index, item) {
        var ticketStatusObj = [item.TicketStatusName, Number(item.TicketCount)];
        result.push(ticketStatusObj);
        });
        return result;
        }

        //Highcharts for Ticket Statuses
        function Highchartinitforticketstatuses(data) {
        Highcharts.chart('tickets-status-high-chart', {
        chart: {
        type: 'pie',
        options3d: {
        enabled: true,
        alpha: 45
        }
        },
        title: {
        text: 'Ticket Status Counts'
        },
        subtitle: {
        text: 'Detail of New, Assigned, In Progress, Completed and Archived'
        },
        plotOptions: {
        pie: {
        innerSize: 100,
        depth: 45,
        showInLegend: true
        }
        },
        series: [{
        name: 'Tickets Count',
        allowPointSelect: true,
        data: TransformDataForTicketStatus(data)
        }]
        });
        }
        //Data transforming into right format for ticket priority
        function TransformDataForTicketPriority(data) {
        var result = [];
        $.each(data, function (index, item) {
        var ticketPriorityObj = [item.TicketPriorityName, Number(item.TicketCount)];
        result.push(ticketPriorityObj);
        });
        return result;
        }

        //Highcharts for Ticket Priorities
        function Highchartinitforticketpriorities(data) {
        Highcharts.chart('tickets-priority-high-chart', {
        colors: ['#ff0000', '#ff9900', '#50B432', '#DDDF00', '#058DC7'],
        chart: {
        type: 'pie',
        options3d: {
        enabled: true,
        alpha: 45,
        beta: 0
        },
        shadow: true,
        backgroundColor: {
        linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
        stops: [
        [0, 'rgb(255, 255, 255)'],
        [1, 'rgb(240, 240, 255)']
        ]
        }
        },
        title: {
        text: 'Ticket Priority Counts'
        },
        subtitle: {
        text: 'Immediate, High, Medium, Low, None'
        },
        plotOptions: {
        pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        depth: 45,
        dataLabels: {
        enabled: true,
        format: '{point.name}'
        },
        showInLegend: true
        }
        },
        series: [{
        type: 'pie',
        allowPointSelect: true,
        name: 'Tickets Count',
        data: TransformDataForTicketPriority(data)
        }]
        });
        }
        //TaskLoadChart
        var taskloaddata = '@opendevticketsarr';
        taskloaddata = taskloaddata.slice(0, taskloaddata.length - 2);
        taskloaddata = taskloaddata != null ? taskloaddata.split(",") : [];
        var dataFortaskloadChart = [];
        for (var i = 0; i < taskloaddata.length; i++) {
        var tempArr = taskloaddata[i].split(" ");
        var colorForTicketNumber = "";
        if (Number(tempArr[1]) > 5) {
        colorForTicketNumber = "#FF0F00";
        }
        else if (5 > Number(tempArr[1]) > 3) {
        colorForTicketNumber = "#FF6600";
        }
        else if (3 > Number(tempArr[1])) {
        colorForTicketNumber = "#FF9E01";
        }
        else {
        colorForTicketNumber = "#FCD202";
        }

        var taskLoadObj = {
        "country": tempArr[0],
        "visits": Number(tempArr[1]),
        "color": colorForTicketNumber
        }

        dataFortaskloadChart.push(taskLoadObj);
    }

    devtaskloadchart(dataFortaskloadChart);

    //build Ticket Type Liquid Chart
    function buildTicketTypeChart() {
    AjaxForTicketTypeChart('@Url.Action("TicketTypeData", "Home")');
    }

    function AjaxForTicketTypeChart(dataUrl) {
    $.ajax({
    url: dataUrl,
    success: function (response) {
    buildTicketTypeLiquidChart(response);
    }
    });
    }
    var charts = [];
    //Ticket Type Liquid Chart
    function buildTicketTypeLiquidChart(data) {
    var options = [];
    $.each(data, function (index, value) {
    var currentFontSize = 18;
    if (value.TicketTypeName == 'Bug') currentFontSize = 30;
    else if (value.TicketTypeName == 'Update request') currentFontSize = 25;
    else if (value.TicketTypeName == 'New Function Request') currentFontSize = 20;
    var currentVal = Number(value.TicketPercentage);
    var option = {
    series: [{
    type: 'liquidFill',
    data: [currentVal, {
    value: currentVal - 0.05,
    direction: 'left'
    }, currentVal - 0.1, {
    value: currentVal - 0.15,
    direction: 'left'
    }],
    radius: '70%',
    label: {
    formatter: function (param) {
    return value.TicketTypeName + '\n\n' + (param.value * 100).toFixed(1) + '%';
    },
    textStyle: {
    fontSize: currentFontSize,
    fontFamily: 'Lobster Two'
    }
    }
    }]
    }
    options.push(option);
    });

    var containers = document.getElementsByClassName('tickets-type-liquid-chart');

    for (var i = 0; i < options.length; ++i) {
    var chart = echarts.init(containers[i]);

    if (i > 0) {
    options[i].series[0].silent = true;
    }
    chart.setOption(options[i]);
    chart.setOption({
    baseOption: options[i],
    media: [{
    query: {
    maxWidth: 300
    },
    option: {
    series: [{
    label: {
    fontSize: 26
    }
    }]
    }
    }]
    });

    charts.push(chart);
    }
    }
    window.onresize = function () {
    for (var i = 0; i < charts.length; ++i) {
    charts[i].resize();
    }
    }

        </script>
    }
